# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
LB/
.venv/

# Environment variables
.env
.env.*


# Logs
*.log

# Folders 
uploads/
staticfiles/
logs/
invoices/
Dummy Frontend/
Payment-Frontend/

# Alembic
alembic/versions/
alembic.ini

# OS files
.DS_Store
Thumbs.db
luxora-b0770-firebase-adminsdk-fbsvc-915c7474c0.json

# IDE
.vscode/
.idea/

# Database (if local)
*.sqlite3

# Build / cache
*.egg-info/
dist/
build/